body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}


/*img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}*/

div {
  width:1000px;
  margin:auto;
}

.city {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header{
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}


